<h4>Lets's Talk</h4>


<div class="contact-page">
    
    <p class="lead">"Design is not just what it looks like and feels like. Design is how it works."<span>- Steve Jobs</span> </p>
    <p> I’m currently unavailable for work, but you can take a look at my <a href="#"/>cv</a> anyway.</p>
   <ul>
        <li>
            <span class="text-dark">Skype:</span>
            <span><a class="custom-text-color-2" href="skype:vikaskatal?chat">vikaskatal</a></span>
        </li>
        <li>
            <span class="text-dark">Phone:</span>
            <span><a class="custom-text-color-2" href="tel:+917837611446">91 7837611446</a></span>
        </li>
        <li>
            <span class="text-dark">Email:</span>
            <span><a class="custom-text-color-2" href="mailto:katal.viku@gmail.com">katal.viku@gmail.com</a></span>
        </li>
    </ul>
</div>