    <div class="detail-box">
        <h4>About</h4>

        <p>Hey!! My Name is Vikas Katal. I'm a front-end developer born & raised in Punjab, but currently working in New Delhi.</p>

        <p>Fluent in HTML5 CSS3 Sass Less and improving on my JavaScript jQuery every day. I know my way around WordPress and I've recently started experimenting Angularjs with Nodejs server.</p>

        <div class="row">
            <div class="col-md-6 col-sm-6 ">
                <ul>
                    <li>
                        <span class="text-dark">Birthday:</span>
                        <span>30 November 1994</span>
                    </li>
                    <li>
                        <span class="text-dark">Marital:</span>
                        <span>Single</span>
                    </li>
                    <li>
                        <span class="text-dark">Nationality:</span>
                        <span>Indian</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 ">
                <ul>
                    <li>
                        <span class="text-dark">Skype:</span>
                        <span><a class="custom-text-color-2" href="skype:yourskype?chat">vikaskatal</a></span>
                    </li>
                    <li>
                        <span class="text-dark">PHONE:</span>
                        <span><a class="custom-text-color-2" href="tel:+917837611446">91 7837611446</a></span>
                    </li>
                    <li>
                        <span class="text-dark">EMAIL:</span>
                        <span><a class="custom-text-color-2" href="mailto:katal.viku@gmail.com">katal.viku@gmail.com</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- DETAIL BOX -->



    <div class="timeline custom-timeline" id="timeline">
        <h4>EXPERIENCE</h4>
                    <div class="timeline-body">
                        <article class="timeline-box">
                            <div class="experience-info">
                                <span class="from text-color-dark text-uppercase">
                                    From<span class="font-weight-semibold">Dec 2014</span>
                                </span>
                                <span class="to text-uppercase">
                                    To <span>May 2015</span>
                                </span>
                                <p>(0 Years 6 Months)</p>
                                <span class="company text-color-dark font-weight-semibold">
                                    Drivekool.com
                                    <span class="company-location">(Kundalahalli Colony, Bengalore India)</span>
                                </span>
                            </div>
                            <div class="experience-description" style="">
                                <h5>UI Developer as intern</h5>
                                <ul>
                                    <li>Margin, Padding, Pseudo Classes and Elements. Well versed with database concepts and access methodologies using SQLSERVER, MYSQL and Relational databases.</li>
                                    <li>Designed dynamic and browser compatible pages using HTML5, CSS3, jQuery and JavaScript</li>
                                </ul>
                            </div>
                        </article>

                        <article class="timeline-box">
                            <div class="experience-info">
                                <span class="from text-color-dark text-uppercase">
                                    From<span class="font-weight-semibold">Sep 2015</span>
                                </span>
                                <span class="to text-uppercase">
                                    To <span>April 2016</span>
                                </span>
                                <p>(0 Years 8 Months)</p>
                                <span class="company text-color-dark font-weight-semibold">
                                    N2NSystems
                                    <span class="company-location">(New Delhi India)</span>
                                </span>
                            </div>
                            <div class="experience-description" style="">
                                <h5>Front End Web Developer</h5>
                                <ul>
                                    <li>Designed software applications using HTML, CSS, SCSS, JavaScript, Php, and Mysql among others.</li>
                                  <li>Understanding client needs, requirements, and expectations and devise solutions accordingly</li>
                                  <li>Experienced using WordPress, Magento Content Management Systems (CMS).</li>
                                  <li>Implementing project plans within preset budgets and deadlines.</li>

                                </ul>
                            </div>
                        </article>

                        <article class="timeline-box">
                            <div class="experience-info">
                                <span class="from text-color-dark text-uppercase">
                                    From<span class="font-weight-semibold">May 2016</span>
                                </span>
                                <span class="to text-uppercase">
                                    To <span>Present</span>
                                </span>
                                <p>(0 Years 11 Months)</p>
                                <span class="company text-color-dark font-weight-semibold">
                                    Looking for some Oppertunity
                                    <span class="company-location">(New Delhi, India)</span>
                                </span>
                            </div>
                            <div class="experience-description" style="">
                                <h5></h5>
                                <p>...</p>
                            </div>
                        </article>
                    </div>
                </div>
    <!--TIMELINE -->